<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>webProject-demo</title>
	<link rel="stylesheet" href="/application/core/app.scss">
	<script type="text/javascript" src="/components/modjs/mod.js" data-loader></script>
	<script type="text/javascript"> require('/application/core/app.js'); </script>
	{% block head %}
	{% endblock %}
</head>
<body>
	{% block header %}
	{% endblock %}
	<!-- header -->
	<link rel="import" href="/modules/comm/mod-header/mod-header.html?__inline">
	
	<!-- content -->
	{% block content %}
	{% endblock %}

	<!-- footer -->
	<link rel="import" href="/modules/comm/mod-footer/mod-footer.html?__inline">

	{% block footer %}
	{% endblock %}
</body>
</html>